.navbar {
  width: 100%;
  background: #404040;
  height: 64px;
  margin-top: -20px;
}

.container {
    margin: 0px auto;
    width: 800px;
}

.navbar li {
  list-style: none;
  display: inline;
}

.navbar a {
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.rightnav a {
  color:white;
  float: right;
  margin-right: 40px;
}

#home a {
  margin-top: -13px;
  color: steelblue ;
  float: left;
}