/******************** NAV BAR ********************/

.navbar {
  width: 100%;
  background: #404040;
  height: 74px;
  margin-top: -20px;
}

.navbar li {
  list-style: none;
  display: inline;
}

.navbar a {
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
}

.rightnav a {
  color:white;
  float: right;
  margin-right: 40px;
}

#home a {
  margin-top: -7px;
  color: steelblue ;
  float: left;
}

#search {
  width: 275px;
}

.search_bar {
  margin-top: 25px;
  display: inline-block;
}


/******************** BODY ********************/

.container {
    margin: 10px auto;
    width: 800px;
}


body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h1 {
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: solid 1px gray;
}



/******************** UNORDEDERED LISTS AND LINKS ********************/

ul {
  list-style-type: none;
}

li {
  list-style: none;
  margin: 10px 0;
}

li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

li a:hover {
  color: magenta;
}


/******************** QUESTIONS ********************/

.actualquestiontitle {
  color: #1947D1;
}

.questions {
  padding-bottom: 20px;
  padding-left: 0;
  margin-bottom: 35px;
  border-bottom: solid 1px gray;
}

.question {
  font-size: 1.25em;
  display: inline-block;
}

.question_asker {
  font-size: 15px;
  color: #CCCCCC;
  text-align: right;
}


/******************** ADD QUESTION BUTTON ********************/

.addquestion a {
  padding: 5px;
  text-decoration: none;
  background: #404040;
  color: white;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.addquestion a:hover {
  background: magenta;
}

.question_votes {
  float: left;
  vertical-align: middle;
  padding-right: 10px;
  width: 40px;
  display: inline;
}

.upvote, .downvote {
  width:100%;
  text-align: center;
}

.vote-count {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.question_body {
  float: right;
  display: inline;
  width: 750px;
  min-height: 100px;
}

.questionbody {
  padding-bottom: 20px;
  min-height: 60px;
}


/******************** COMMENTS ********************/

.comment_votes {
  float: left;
  vertical-align: middle;
  display: inline;
  min-height: 50px;
  display: inline-block;
  padding-right: 10px;
}

.comment {
  display: block;
  vertical-align: middle;
  border-top: 1px dotted magenta;
}

.comment-upvote, .comment-downvote{
  width:100%;
  text-align: center;
}

.comment-vote-count{
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  line-height: 0.5em;
}

.comment_body {
  font-size: 16px;
  min-height: 50px;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}

.makecomment {
  padding: 20px 0;
}

.makecomment a {
  padding: 3px 5px;
  text-decoration: none;
  background: #404040;
  color: white;
  border-radius: 5px;
  font-size: 0.75em;
  transition: background 0.3s ease;
}

.makecomment a:hover {
  background: magenta;
  color: white;
}


/******************** ANSWERS ********************/

.answers {
  border-top: solid 3px #ADADAD;
}

.answers h4 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 0;
}

.complete_answer {
  min-height: 60px;
  display: block;
}

.answer_votes {
  float: left;
  vertical-align: middle;
  display: inline;
  min-height: 60px;
  display: inline;
  padding-right: 10px;
  width: 40px;
}

.answers ul {
  padding-left: 0;
}

.answer_body {
  float: right;
  display: inline;
  width: 750px;
  min-height: 40px;
}

.answerbody {
  min-height: 50px;
  font-size: 1.25em;
}


.new_answer {
  padding: 20px 0;
}

.new_answer a {
  margin-top: 20px;
  display: inline-block;
  padding: 3px 5px;
  text-decoration: none;
  background: #404040;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  transition: background 0.3s ease;
}

.new_answer a:hover {
  background: magenta;
}

.answercomments {
  width: 750px;
  display: block;
}

.single_answer {
  padding-top: 20px;
  width: 800px;
  float: left;
  display: block;
  border-top: solid 1px gray;
}

.makecomment {
}